<section class="banner bgc__blue--800">
	<div class="container">
		<div class="banner__group d__flex">
			<div class="banner__content">
				<h1 class="banner__title text__green--200">
					Quản trị toàn diện
				</h1>
				<h2 class="banner__info text__white--100">
					đồng hành cùng doanh nghiệp trên con đường chuyển đổi số
				</h2>
				<div class="banner__desc text__white--100">
					Hơn 300.000 người dùng đến từ hơn 3.500 doanh nghiệp
																																																																											Việt lựa chọn và tin dùng
				</div>
				<a href="#" class="btn banner__btn text__blue--900 bgc__green--200" title="Tìm hiểu thêm">Tìm hiểu thêm</a>
			</div>
			<div class="banner__image frame">
				<img class="banner__image--link" src="images/banner__1.png" alt="banner__1.png">
			</div>
		</div>
	</div>

	<div class="banner__animation">
		<div class="circle circle__1"></div>
		<div class="circle circle__2"></div>
		<div class="circle circle__3"></div>

	</div>
</section>
