<div class="global__banner" style="background-image: url('{{bg}}')">
	<div class="container">
		<div class="global__group">
			<div class="global__banner--content">
				<h1 class="title__global text__center {{class}}">
					{{title}}
				</h1>
				<form class="global__form d__flex bgc__white--100">
					<button class="btn global__search bgc__white--100 d__flex">
						<img src="images/icons/search.svg" alt="search.svg">
					</button>
					<input type="text" placeholder="Nhập từ khóa tìm kiếm..." class=" global__input"/>
				</form>
			</div>
		</div>
	</div>
</div>
