<section class="experience bgc__gray--100">
	<div class="container">
		<div class="experience__header text__center">
			<h2 class="title__global text__blue--200">
				Trải nghiệm học online FREE trên Youtube để tham khảo
			</h2>
			<p class="global__info">
				Để ứng dụng và học FULL, vui lòng đăng ký khóa học BOS Member
			</p>
			<button type="button"
                modal-show="show"
                modal-data="#formContact" class="btn bgc__green--200 text__blue--900">
				Đăng ký khóa học
			</button>
		</div>
		<div class="experience__body">
			{% for item in 1..6 %}
				<a href="https://youtu.be/OLofxR6TBLs?t=5" target="_blank" class="experience__item ">
					<div class="experience__image frame">
						<img src="images/experience.svg" alt="experience.svg">
					</div>
					<div class="experience__content">
						<h3 class="experience__title text__orange--900">
							3 giải pháp mới phát triển công ty
						</h3>
						<div class="experience__part text__white--100">
							Phần 1
						</div>
						<div class="experience__desc text__white--100">
							Tất cả những công việc lớn lao đều phải bắt đầu bằng từng bước nhỏ, việc chuẩn hóa dữ liệu công ty cũng vậy.
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
