<section class="feedback bgc__gray--100">
	<div class="container">
		<div class="feedback__container bgc__white--100">
			<h2 class="title__global feedback__header text__blue--200">
				Câu chuyện của khách hàng
			</h2>
			<div class="feedback__body">
				<div class="feedback__slide">
					{% for item in 1..3 %}
						<div class="feedback__item">
							<div class="feedback__box bgc__white--100">
								<h3 class="feedback__title text__blue--200 text__center">
									Tổng công ty Công nghệ chiếu sáng ILIKE
								</h3>
								<div class="feedback__group d__flex">
									<div class="feedback__auth">
										<div class="feedback__avatar fram">
											<img src="images/avatar.png" alt="avatar.png">
										</div>
										<h3 class="feedback__name text__blue--200">
											Ông Nguyễn Văn A
										</h3>
										<div class="feedback__position text__gray--500">
											Tổng giám đốc Công ty Công nghệ chiếu sáng ILIKE
										</div>
									</div>
									<div class="feedback__content text__gray--700">
										Các ứng dụng trên BOS có thể sử dụng dễ dàng trên các trình duyệt, máy tính bảng, hoặc cài đặt trên máy tính để bàn. Tất cả các ứng dụng đều hỗ trợ đa ngôn ngữ (Tiếng Việt, English) và được nâng cấp liên tục và được nâng cấp liên tục. Các ứng dụng trên BOS có thể sử dụng dễ dàng trên các trình duyệt, máy tính bảng, hoặc cài đặt trên máy tính để bàn. Tất cả các ứng dụng đều hỗ trợ đa ngôn ngữ (Tiếng Việt, English) và được nâng cấp liên tục.
									</div>
								</div>
								<div class="feedback__footer">
									{% set link = "#" %}
									{% include "./View.component.twig" with link %}
								</div>
							</div>
						</div>
					{% endfor %}


				</div>
			</div>

		</div>

	</div>
</section>
