<form action="" class="contact__body--form">
            <div class="form__group">
                <label for="" class="form__label">
                    Họ và tên của bạn <sup>*</sup>
                </label>
                <input
                    type="text"
                    placeholder="Nhập họ và tên của bạn"
                    class="form__control"
                />
            </div>
            <div class="form__group">
                <label for="" class="form__label">
                    Giải pháp bạn quan tâm <sup>*</sup>
                </label>
                <select
                    class="form__control form__select"
                    placeholder="Chọn giải pháp/ứng dụng bạn quan tâm nhất"
                >
                    <option value="">Quản lý công việc</option>
                    <option value="">Quản lý nhân sự</option>
                    <option value="">Quản lý CRM</option>
                    <option value="">Quản lý tổng thể</option>
                </select>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label for="" class="form__label">
                        Email <sup>*</sup>
                    </label>
                    <input
                        type="text"
                        placeholder="Nhập email cá nhân"
                        class="form__control"
                    />
                </div>
                <div class="form__group">
                    <label for="" class="form__label">
                        Số điện thoại <sup>*</sup>
                    </label>
                    <input
                        type="number"
                        placeholder="Nhập số điện thoại liên hệ"
                        class="form__control"
                    />
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label for="" class="form__label">
                        Vị trí công việc <sup>*</sup>
                    </label>
                    <select
                        class="form__control form__select"
                        placeholder="Nhập vị trí công việc"
                    >
                        <option value="">Lãnh đạo (Chủ tịch, CEO,...)</option>
                        <option value="">Quản lý nhân sự</option>
                        <option value="">Quản lý CRM</option>
                        <option value="">Nhân viên</option>
                    </select>
                </div>
                <div class="form__group">
                    <label for="" class="form__label">
                        Tên công ty <sup>*</sup>
                    </label>
                    <input
                        type="text"
                        placeholder="Nhập số điện thoại liên hệ"
                        class="form__control"
                    />
                </div>
            </div>
            <div class="form__row">
                <div class="form__group">
                    <label for="" class="form__label">
                        Tỉnh/thành phố <sup>*</sup>
                    </label>
                    <select
                        class="form__control form__select"
                        placeholder="Chọn tỉnh/thành phố"
                    >
                        <option value="">Quản lý công việc</option>
                        <option value="">Quản lý nhân sự</option>
                        <option value="">Quản lý CRM</option>
                        <option value="">Quản lý tổng thể</option>
                    </select>
                </div>
                <div class="form__group">
                    <label for="" class="form__label">
                        Quy mô nhân sự <sup>*</sup>
                    </label>
                    <select
                        class="form__control form__select"
                        placeholder="Nhập quy mô nhân sự"
                    >
                        <option value="">Dưới 10 nhân viên</option>
                        <option value="">10 - 30 nhân viên</option>
                        <option value="">30 - 100 nhân viên</option>
                        <option value="">100 - 300 nhân viên</option>
                        <option value="">Trên 300 nhân viên</option>
                    </select>
                </div>
            </div>
            <button class="btn form__btn bgc__blue--300 text__white--100">
                Đăng ký
            </button>
        </form>
