<section class="global__header text__violet--500 text__center">
	<div class="container">
		<h2 class="title__global global__header--title">
			{{title}}
		</h2>
		<p class="global__header--info">
			{{info}}
		</p>
		{% if btn %}
			<a href="#" class="btn btn__detail bgc__white--100 text__blue--900" title="{{btn}}">
				{{btn}}
			</a>
		{% endif %}

	</div>
</section>
