<div class="news__group">
	<div class="news__image frame">
		<img src="images/news__1.jpg" alt="news__1.jpg">
	</div>
	<h3 class="news__title">
		<a href="#" class="news__title--link" title="Công ty Công nghệ chiếu sáng ILIKE và bước tiến thần tốc cùng BOS">
			Công ty Công nghệ chiếu sáng ILIKE và bước tiến thần tốc cùng BOS
		</a>
	</h3>
	<div class="news__desc">
		Tất cả những công việc lớn lao đều phải bắt đầu bằng từng bước nhỏ, việc chuẩn hóa dữ liệu cũng vậy, muốn công ty hoạt động hiệu quả bao nhiêu thì phần mềm quản trị cũng cần chuẩn bấy nhiêu.
	</div>
	<div class="news__footer">
		<a href="#" class="news__contiue-reading--link" title="Đọc tiếp">
			Đọc tiếp >
		</a>
		<time class="news__time">
			12/12/2022
		</time>
	</div>
</div>
