<ul class="pagination d__flex">
	<li class="pagination-item pagination__prev pagination__no">
		<a href="#" class="pagination-item-link text__black--900 ">
			<img src="images/icons/icon__rightAll.svg" alt="icon__rightAll.svg">
		</a>
	</li>
	<li class="pagination-item pagination__prev pagination__no">
		<a href="#" class="pagination-item-link text__black--900">
			<img src="images/icons/icon__right.svg" alt="icon__right.svg">
		</a>
	</li>

	<li class="pagination-item active">
		<a href="#" class="pagination-item-link text__black--900">1</a>
	</li>
	<li class="pagination-item">
		<a href="#" class="pagination-item-link text__black--900">2</a>
	</li>
	<li class="pagination-item">
		<a href="#" class="pagination-item-link text__black--900">3</a>
	</li>
	<li class="pagination-item">
		...
	</li>
	<li class="pagination-item pagination__next">
		<a href="#" class="pagination-item-link text__black--900 ">
			<img src="images/icons/icon__right.svg" alt="icon__right.svg">
		</a>
	</li>
	<li class="pagination-item  pagination__next--all">
		<a href="#" class="pagination-item-link text__black--900">
			<img src="images/icons/icon__rightAll.svg" alt="icon__rightAll.svg">
		</a>
	</li>
</ul>
