<a href={{link}} class="global__view d__flex text__blue--400" title="Xem thêm">
	<span class="global__view--text">
		Xem thêm
	</span>
	<img src="images/icons/icon__view.svg" alt="icon__view.svg">
</a>
