.bgc {
    &__blue {
        &--100 {
            background-color: map-get($colors, "blue-100");
        }
        &--200 {
            background-color: map-get($colors, "blue-200");
        }
        &--300 {
            background-color: map-get($colors, "blue-300");
        }
        &--400 {
            background-color: map-get($colors, "blue-400");
        }
        &--500 {
            background-color: map-get($colors, "blue-500");
        }
        &--600 {
            background-color: map-get($colors, "blue-600");
        }
        &--700 {
            background-color: map-get($colors, "blue-700");
        }
        &--800 {
            background-color: map-get($colors, "blue-800");
        }
        &--900 {
            background-color: map-get($colors, "blue-900");
        }
    }
    &__gary {
        &--100 {
            background-color: map-get($colors, "gray-100");
        }
        &--200 {
            background-color: map-get($colors, "gray-200");
        }
        &--300 {
            background-color: map-get($colors, "gray-300");
        }
        &--400 {
            background-color: map-get($colors, "gray-400");
        }
        &--500 {
            background-color: map-get($colors, "gray-500");
        }
        &--600 {
            background-color: map-get($colors, "gray-600");
        }
    }
    &__green {
        &--200 {
            background-color: map-get($colors, "green-200");
        }
    }
    &__violet {
        &--500 {
            background-color: map-get($colors, "violet-500");
        }
    }
    &__white {
        &--100 {
            background-color: map-get($colors, "white-100");
        }
    }
}
