.bgc {
    &__blue {
        &--50 {
            background-color: map-get($colors, "blue-50");
        }
        &--100 {
            background-color: map-get($colors, "blue-100");
        }
        &--200 {
            background-color: map-get($colors, "blue-200");
        }
        &--300 {
            background-color: map-get($colors, "blue-300");
        }
        &--400 {
            background-color: map-get($colors, "blue-400");
        }
        &--500 {
            background-color: map-get($colors, "blue-500");
        }
        &--600 {
            background-color: map-get($colors, "blue-600");
        }
        &--700 {
            background-color: map-get($colors, "blue-700");
        }
        &--800 {
            background-color: map-get($colors, "blue-800");
        }
        &--900 {
            background-color: map-get($colors, "blue-900");
        }
        &--1000 {
            background-color: map-get($colors, "blue-1000");
        }
        &--1001 {
            background-color: map-get($colors, "blue-1001");
        }
        &--1002 {
            background-color: map-get($colors, "blue-1002");
        }
        &--1003 {
            background-color: map-get($colors, "blue-1003");
        }
    }
    &__gray {
        &--100 {
            background-color: map-get($colors, "gray-100");
        }
        &--200 {
            background-color: map-get($colors, "gray-200");
        }
        &--300 {
            background-color: map-get($colors, "gray-300");
        }
        &--400 {
            background-color: map-get($colors, "gray-400");
        }
        &--500 {
            background-color: map-get($colors, "gray-500");
        }
        &--600 {
            background-color: map-get($colors, "gray-600");
        }
        &--700 {
            background-color: map-get($colors, "gray-700");
        }
    }
    &__green {
        &--200 {
            background-color: map-get($colors, "green-200");
        }
    }
    &__violet {
        &--500 {
            background-color: map-get($colors, "violet-500");
        }
    }
    &__violet {
        &--600 {
            background-color: map-get($colors, "violet-600");
        }
    }
    &__white {
        &--100 {
            background-color: map-get($colors, "white-100");
        }
    }
    &__black {
        &--900 {
            background-color: map-get($colors, "black-900");
        }
    }
    &__orange {
        &--900 {
            background-color: map-get($colors, "orange-900");
        }
    }
}
