.contact__body,
.module__contact {
    .form {
        &__group {
            margin-bottom: 2.4rem;
        }
        &__label {
            font-style: 1.4rem;
            font-weight: 500;
            margin-bottom: 0.3rem;
            sup {
                color: red;
            }
        }
        &__control {
            border: 1.5px solid map-get($colors, "gray-400");
            box-sizing: border-box;
            border-radius: 0.4rem;
            padding: 0 1.2rem;
            height: 4rem;
            width: 100%;
            background: transparent;

            &:focus,
            &:focus-visible {
                border: 1.5px solid map-get($colors, "blue-1004");
                outline: 0;
            }
            &::placeholder {
                font-size: 1.3rem;
                color: map-get($colors, "gray-400");
            }
        }
        &__select {
            -webkit-appearance: none;
            background-image: url("../../images/icons/slect__arrow.svg");
            background-repeat: no-repeat;
            background-size: 10px;
            background-position: calc(100% - 1.2rem) center;
            option {
                padding: 0.4rem 2.8rem;
            }
        }
        &__row {
            display: grid;
            column-gap: 3.9rem;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        &__btn {
            width: 100%;
            border-radius: 4px;
            height: 4rem;
        }
    }
}
.contact__body {
    &--form {
        box-shadow: 0px 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
        border-radius: 0.8rem;
        padding: 2.4rem;
    }
}
@media (max-width: 1199.98px) {
    .contact__body,
    .module__contact {
        .form__row {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            column-gap: 0;
        }
    }
}

@media (max-width: 991.98px) {
    .contact__body,
    .module__contact {
        .form__row {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: 1.5rem;
        }
    }
}
@media (max-width: 575.98px) {
    .contact__body,
    .module__contact {
        .form__row {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            column-gap: 0;
        }
    }
}
