.news {
    &__group {
        &:hover {
            opacity: 0.8;
        }
    }
    &__image {
        padding-top: 56.08%;
        img {
            object-fit: cover;
        }
    }
    &__title {
        @include cutLimit($lineClamp: 2);
        margin-top: 1.6rem;
        &--link {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    }
    &__desc {
        @include cutLimit($line-height: 1.9rem, $lineClamp: 4);
        font-size: 1.4rem;
    }
    &__footer {
        margin-top: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-style: italic;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    &__continue {
        &-reading {
            font-weight: 500;
        }
    }
}
@media (max-width: 991.98px) {
    .news {
        &__image {
            padding-top: 66.66%;
            img {
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .news {
        &__title {
            &--link {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
}
