/**
*@helpers
*/
@import "../helpers/variables";
@import "../helpers/functions";
@import "../helpers/mixins";

/**
*@ base
*/

@import "../base/fonts";

.news {
    &__header {
        &--gulp {
            margin-top: 2.4rem;
            column-gap: 2.4rem;
            align-items: start;
        }
        &--title {
            @include cutLimit($lineClamp: 2);
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.813rem;
        }
        &--time {
            margin-top: 1.596rem;
            font-size: 1.4rem;
            font-style: italic;
        }
        &--title,
        &--time {
            position: relative;
            z-index: 2;
            align-items: center;
        }
        &--icon {
            margin-right: 0.4rem;
        }
    }
    &__one {
        max-width: 76.9rem;
        width: 100%;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
        transition: 0.2 all;
        &:hover {
            transition: 0.2 all;
            opacity: 0.9;
            color: map-get($colors, "white-100");
        }

        &--content {
            padding: 2.5rem 2.4rem;
            border-radius: 0px 0px 4px 4px;
            width: 100%;
            height: 14.5rem;
            position: absolute;
            bottom: 0;
            left: 0;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: map-get($colors, "black-900");
                z-index: 1;
                bottom: 0;
                opacity: 0.6;
            }
        }
        .image {
            padding-top: 78.25%;
            img {
                object-fit: cover;
            }
        }
    }

    &__hot {
        padding-top: 6.2rem;
        &--title {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
        &--slick {
            .slick-list {
                padding-top: 2.2rem;
            }
        }
        &--box {
            padding: 0 1.2rem;
            transition: 0.2 all;

            &:hover {
                transition: 0.2 all;
                opacity: 0.8;
            }
        }
        &--slide {
            margin: 0 -1.2em;
        }
        &--image {
            padding-top: 52.084%;
            img {
                object-fit: cover;
            }
        }
        &--name {
            @include cutOne();
            font-size: 1.8rem;
            font-weight: 500;
            margin: 1.2rem 0;
        }
        &--desc {
            @include cutLimit();
            font-size: 1.4rem;
            line-height: 1.9rem;
            text-align: justify;
            margin-bottom: 1.2rem;
        }
        &--time {
            font-size: 1.4rem;
            font-style: italic;
            align-items: center;
        }
        &--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.4rem;
            img {
                filter: brightness(0.5);
            }
        }
        .slick {
            &-arrow {
                &.slick-prev,
                &.slick-next {
                    z-index: 5;
                    top: -7%;
                    transform: unset;
                    right: 0%;
                    left: unset;
                    background: url("../../images/icons/arrow.svg") no-repeat;
                    background-size: 1.495rem;
                    background-position: center center;
                    width: 3.2rem;
                    height: 3.2rem;
                    overflow: hidden;
                    background-color: map-get($colors, "blue-200");
                    border-radius: 100%;
                    &::before {
                        display: none;
                    }
                }
                &.slick-prev {
                    right: 4.4rem;
                }
                &.slick-next {
                    margin-left: 5.6rem;
                    transform: rotate(180deg);
                    background-position: 0.7rem center;
                }
                &.slick-disabled {
                    opacity: 0.3;
                }
            }
        }
    }
}
@media (max-width: 1199.98px) {
    .news__one {
        max-width: 60%;
    }
    .news__box {
        max-height: 383px;
    }
    .news__hot {
        .slick-arrow {
            &.slick-next {
                right: 1.5rem;
            }
            &.slick-prev {
                right: 6rem;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .news__box {
        max-height: 278px;
    }
    .news__hot {
        padding-top: 3rem;
    }
    .news__hot--image {
        padding-top: 66.66%;
        img {
            object-fit: cover;
        }
    }
    .news__header--title {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}

@media (max-width: 767.98px) {
    .news {
        &__header {
            &--gulp {
                flex-wrap: wrap;
            }
        }
        &__one {
            max-width: 100%;
        }
    }
}

@media (max-width: 575.98px) {
    .news__hot {
        .slick-arrow {
            &.slick-next,
            .slick-prev {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

@media (max-width: 479.98px) {
    .news__hot {
        .slick-arrow {
            &.slick-prev {
                top: 50%;
                transform: translateY(-50%);
                right: unset;
                left: 1.5rem;
            }
            &.slick-next {
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    .news {
        &__one {
            &--content {
                padding: 1.5rem;
                height: 11.5rem;
            }
        }
    }
}
