/**
*@helpers
*/
@import "../helpers/variables";
@import "../helpers/functions";
@import "../helpers/mixins";

.price-list {
    &__banner {
        padding-top: 9.1rem;
        padding-bottom: 7.105rem;
        .title__global {
            font-size: 5.915rem;
            line-height: 6.932rem;
        }
    }
    &__span {
        font-size: 2.9rem;
        line-height: 3.398rem;
    }
    &__image {
        max-width: 46.954rem;
        width: 100%;
        flex-shrink: 0;
        padding-top: 40.948%;
    }
    &__desc {
        margin-top: 1.623rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.109rem;
        margin-bottom: 3.2rem;
    }
    &__group {
        align-items: center;
    }
    &__container {
        padding-top: 10rem;
        padding-bottom: 8rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 3.7rem;
        max-width: 96.8rem;
        width: 100%;
        margin: auto;
    }
    &__item {
        box-shadow: 0px 4px 15px map-get($colors, "gray-800");
        border-radius: 8px;
        overflow: hidden;
        padding: 2.4rem 2.4rem 4.8rem 2.4rem;
        transition: 0.3s all;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 55.94px;
            background: url("../../images/icons/price__list.svg") no-repeat;
            background-position: bottom right;
            background-size: contain;
            transition: 0.3s all;
        }
        &:hover {
            transform: translateY(-2rem);
            transition: 0.3s all;
            background-color: map-get($colors, "gray--100");
            &::before {
                background: url("../../images/icons/price__list2.svg") no-repeat;
                background-position: bottom right;
                background-size: contain;
                transition: 0.3s all;
            }
        }
        &:nth-child(2) {
            &:hover {
                box-shadow: 0px 4px 15px map-get($colors, "blue-1001");
                .price__btn {
                    background: map-get($colors, "blue-200");
                }
            }
            .price-list__footer {
                .price__btn {
                    border: 2px solid map-get($colors, "blue-200");
                }
            }
        }
        &:first-child {
            &:hover {
                box-shadow: 0px 4px 15px map-get($colors, "green-300");
                .price__btn {
                    background: map-get($colors, "green-200");
                }
            }
            .price-list__footer {
                .price__btn {
                    border: 2px solid map-get($colors, "green-200");
                }
            }
        }
        &:last-child {
            &:hover {
                box-shadow: 0px 4px 15px map-get($colors, "orange-100");
                .price__btn {
                    background: map-get($colors, "orange-900");
                }
            }
            .price-list__footer {
                .price__btn {
                    border: 2px solid map-get($colors, "orange-900");
                }
            }
        }
    }
    &__footer {
        margin-top: 1.8rem;
        .price__btn {
            width: 11.6rem;
        }
    }
    &__price {
        font-size: 3.2rem;
        line-height: 5.6rem;
        font-weight: 900;
        margin: 0.4rem 0;
    }
    &__date {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
    }
    &__info {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    &__title {
        @include cutOne();
        text-transform: uppercase;
        margin-top: 1.8rem;
    }
    &__ul {
        padding: 0;
        margin: 0;
        li {
            margin-top: 1.2rem;
            display: flex;
            align-items: center;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        overflow: hidden;
        border-radius: 100%;
        flex-shrink: 0;
        margin-right: 0.4rem;
        img {
            object-fit: contain;
            object-position: center center;
        }
    }
    &__text {
        @include cutOne();
    }
}

@media (max-width: 1199.98px) {
    .price-list__image {
        max-width: 400px;
    }
    .price-list__banner {
        padding-bottom: 5rem;
    }
    .price-list__container {
        padding-top: 5rem;
        padding-bottom: 5rem;
        column-gap: 3rem;
    }
}

@media (max-width: 991.98px) {
    .price-list__group {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .price-list__banner--content {
        margin-top: 3rem;
        order: 2;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .price-list__container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 3rem;
    }
}
@media (max-width: 575.98px) {
    .price-list__banner {
        .title__global {
            font-size: 4rem;
        }
    }
    .price-list__span {
        font-size: 2.5rem;
    }
    .price-list__desc {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 479.98px) {
    .price-list__container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
