/**
*@helpers
*/
@import "../helpers/variables";
@import "../helpers/functions";
@import "../helpers/mixins";
.page {
    &-product {
        .banner__btn {
            animation: b 0.5s infinite;
            animation-direction: alternate-reverse;
        }
        &__banner {
            padding-top: 9.6rem;
            padding-bottom: 6.69rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background: url("../../images/icons/icon__banner-product.svg")
                    no-repeat;
                background-size: contain;
                max-width: 759px;
                max-height: 543px;
                width: 100%;
                height: 100%;
                z-index: -1;
                left: 15.7%;
                animation: decagon 1.5s infinite;
                animation-direction: alternate-reverse;
                animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            }
            &--content {
                position: relative;
                z-index: 1;
            }
        }
        &__group {
            align-items: center;
            column-gap: 12.642rem;
            position: relative;
            &.product__group--detail {
                column-gap: 1.2rem !important;
            }
            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 30%;
                background: url("../../images/icons/element.svg") no-repeat;
                max-width: 131px;
                max-height: 115px;
                width: 100%;
                height: 100%;
            }
        }
        &__info {
            margin-top: 1.223rem;
            font-weight: 700;
            font-size: 2.973rem;
            line-height: 3.571rem;
            margin-bottom: 6.4rem;
            &.info__detail {
                margin-bottom: 1.6rem;
            }
        }
        &__desc {
            font-size: 1.8rem;
            line-height: 2.109rem;
            margin-bottom: 3.2rem;
            &.page--product__desc--detail {
                margin-top: 1.6rem;
                margin-bottom: 2.4rem;
            }
        }
        &__image {
            max-width: 56.759rem;
            width: 100%;
            flex-shrink: 0;
            padding-top: 52.232%;
            animation: c 1.5s infinite;
            animation-direction: alternate-reverse;
        }
    }
}
.finance {
    padding-top: 4.4rem;
    padding-bottom: 3.7rem;
    &__group {
        margin-top: 4rem;
        column-gap: 5.8rem;
        row-gap: 3.2rem;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    &__info {
        font-size: 1.8rem;
        line-height: 2.109rem;
        margin-top: 1.2rem;
        font-weight: 500;
    }
}
.bg__business {
    position: relative;
    background: url("../../images/icons/bg__business.svg") no-repeat;
    background-size: 70%;
    background-position: 40% 30%;
}
.banner__module {
    &::before {
        display: none;
    }
    .page-product__group {
        column-gap: 9.9rem;
    }
}
.build {
    padding-top: 9.6rem;
    .global {
        &__info {
            margin-bottom: 0;
        }
    }
    &__item {
        text-align: center;
    }
    &__box {
        padding: 0 1rem;
        transition: 0.3s;
        transform: translateY(0%);
        &:hover {
            transition: 0.3s;
            transform: translateY(-15%);
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
    &__icon {
        width: 8rem;
        height: 8rem;
        margin: auto;
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid map-get($colors, "gray-300");
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: contain;
        }
    }
    &__footer {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 0.8rem solid map-get($colors, "gray-200");
    }
    .slick-list {
        padding-top: 11.2rem;
        padding-bottom: 16.8rem;
    }
}
.product__detail {
    .detail__item {
        padding: 8rem 0;
        .detail__group {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            column-gap: 9.9rem;
            .detail__image {
                padding-top: 60.17%;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    align-items: start;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    margin-top: 1.6rem;
                    .icon {
                        display: flex;
                        align-items: center;
                        width: 2.4rem;
                        height: 2.4rem;
                        flex-shrink: 0;
                    }
                }
            }
            .detail__content {
                h3 {
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 2.8rem;
                    @include cutOne();
                    margin-bottom: 1.8rem;
                }
                .detail__info {
                    @include cutLimit($lineClamp: 2);
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 2rem;
                }
            }
        }
        &:nth-child(even) {
            background-color: map-get($colors, "gray-100");
            .detail__group {
                .detail__image {
                    order: 2;
                }
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .page-product__group {
        column-gap: 3rem;
    }
    .page-product__image {
        max-width: 450px;
    }
    .finance__group {
        row-gap: 3rem;
        column-gap: 3rem;
    }
    .product__detail {
        .detail__item {
            padding: 3rem 0;
            .detail__group {
                column-gap: 3rem;
            }
        }
    }
}
@media (max-width: 991.98px) {
    .page-product__banner {
        padding-top: 6rem;
        padding-bottom: 5rem;
        &::before {
            max-width: 601px;
        }
    }
    .page-product__image {
        max-width: 320px;
    }
    .page-product__banner--content {
        text-align: center;
    }
    .page-product__info {
        margin-top: 1rem;
        font-size: 2.3rem;
        line-height: 3rem;
        margin-bottom: 3rem;
    }
    .finance__group {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .build {
        padding-top: 5rem;
        .slick-list {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }
}

@media (max-width: 767.98px) {
    .page-product__group {
        column-gap: 0;
        flex-wrap: wrap;
    }
    .page-product__banner--content {
        order: 2;
    }
    .page-product__image {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    .product__detail {
        .detail__item {
            &:nth-child(even) {
                .detail__group {
                    .detail__image {
                        order: 1;
                    }
                    .detail__content {
                        order: 2;
                    }
                }
            }
            .detail__group {
                grid-template-columns: repeat(1, minmax(0, 1fr));
                grid-column: 0;
            }
        }
    }
}
@media (max-width: 576.98px) {
    .finance__group {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 479.98px) {
    .finance__group {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
@keyframes decagon {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
