{% extends "../layouts/master-layout.twig" %}
{% set page = 'home' %}
{% block titlePage %}
	Trang chủ
{% endblock %}
{% block stylePage %}
	<link rel="stylesheet" href="./css/pages/index.css"/>
{% endblock %}
{% block content %}
	{% include "../components/Banner.component.twig" %}

	<section class="establish">
		<div class="container">
			<div class="establish__group d__flex">
				<div class="establish__image frame">
					<img src="images/establish__1.png" alt="establish__1.png" class="establish__image--link">
				</div>
				<div class="establish__content">
					<h2 class="title__global text__blue--200">
						Nền tảng quản trị doanh nghiệp toàn diện nhất
					</h2>
					<div class="establish__desc text__gray--500">
						<p>
							BOS là nền tảng quản trị donh nghiệp toàn diện số 1 Việt Nam, đang được tin dùng bởi hơn 5,000 doanh nghiệp thuộc nhiều lĩnh vực khác nhau. Hầu hết các doanh nghiệp dẫn đầu thị trường và các công ty tăng trưởng nhanh đều đang dùng một trong số các sản phẩm của BOS (KINGLED, TLI,...)
						</p>
						<p>
							Các ứng dụng trên BOS có thể sử dụng dễ dàng trên các trình duyệt, máy tính bảng, hoặc cài đặt trên máy tính để bàn. Tất cả các ứng dụng đều hỗ trợ đa ngôn ngữ (Tiếng Việt, English) và được nâng cấp liên tục.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="different bgc__gray--100">
		<div class="container">
			<div class="different__group d__flex">
				<div class="different__content d__flex">
					<h2 class="different__title title__global text__blue--200">
						BOS - Khác biệt trong quản trị
					</h2>
					<div class="different__item">
						<div class="different__icon">
							<img class="different__icon--link" src="images/icons/different__icon--1.svg" alt="different__icon--1.svg">
						</div>
						<h3 class="different__item--title text__blue--200">
							Tư duy phát triển sản phẩm
						</h3>
						<div class="different__desc text__gray--500">
							Với tư duy hơn cả một phần mềm, BOS là một môi trường làm việc trực tuyến cho doanh nghiệp. Ở đó, mỗi thành viên được cung cấp đầy đủ công cụ, tài nguyên số phục vụ cho công việc.
						</div>
					</div>
					<div class="different__item">
						<div class="different__icon">
							<img class="different__icon--link" src="images/icons/different__icon--2.svg" alt="different__icon--2.svg">
						</div>
						<h3 class="different__item--title text__blue--200">
							Tư duy phát triển sản phẩm
						</h3>
						<div class="different__desc text__gray--500">
							Với tư duy hơn cả một phần mềm, BOS là một môi trường làm việc trực tuyến cho doanh nghiệp. Ở đó, mỗi thành viên được cung cấp đầy đủ công cụ, tài nguyên số phục vụ cho công việc.
						</div>
					</div>
				</div>
				<div class="different__image frame">
					<img class="different__image--link" src="images/different__1.svg" alt="different__1.svg">
				</div>
			</div>
			<div class="different__group d__flex">
				<div class="different__content d__flex">

					<div class="different__item">
						<div class="different__icon">
							<img class="different__icon--link" src="images/icons/different__icon--3.svg" alt="different__icon--3.svg">
						</div>
						<h3 class="different__item--title text__blue--200">
							Tư duy phát triển sản phẩm
						</h3>
						<div class="different__desc text__gray--500">
							Với tư duy hơn cả một phần mềm, BOS là một môi trường làm việc trực tuyến cho doanh nghiệp. Ở đó, mỗi thành viên được cung cấp đầy đủ công cụ, tài nguyên số phục vụ cho công việc.
						</div>
					</div>
					<div class="different__item">
						<div class="different__icon">
							<img class="different__icon--link" src="images/icons/different__icon--4.svg" alt="different__icon--4.svg">
						</div>
						<h3 class="different__item--title text__blue--200">
							Tư duy phát triển sản phẩm
						</h3>
						<div class="different__desc text__gray--500">
							Với tư duy hơn cả một phần mềm, BOS là một môi trường làm việc trực tuyến cho doanh nghiệp. Ở đó, mỗi thành viên được cung cấp đầy đủ công cụ, tài nguyên số phục vụ cho công việc.
						</div>
					</div>
				</div>
				<div class="different__image frame">
					<img class="different__image--link" src="images/different__2.svg" alt="different__2.svg">
				</div>
			</div>
		</div>
	</section>
	<section class="tools">
		<div class="container">
			<h3 class="title__global text__blue--200 text__center">
				Bộ công cụ quản trị toàn diện
			</h3>

			<div class="tools__container">
				<div class="tools__group d__flex">
					<div class="tools__bos tools__bos--work">
						<h3 class="tools__bos--title text__violet--600">
							BOS - Work
						</h3>
						<p class="tools__bos--info text__violet--600">
							Quản trị công việc và hiệu suất
						</p>
						<a href="#" class="btn bgc__green--200 text__blue--500 tools__bos--btn" title="Xem chi tiết">
							Xem chi tiết
						</a>
					</div>
					<div class="tools__list d__flex">
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--500">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--500">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--500">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--500">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--500">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<a href="#" class="tools__next tools__item d__flex" title="Xem thêm">
							<img src="images/icons/next__1.svg" alt="next__1.svg">
							<span class="tools__text text__blue--500">
								Xem thêm
							</span>
						</a>
					</div>
				</div>
				<div class="tools__group d__flex">
					<div class="tools__bos bgc__blue--200 tools__bos--hrm">
						<h3 class="tools__bos--title text__white--100">
							BOS - HRM
						</h3>
						<p class="tools__bos--info text__white--100">
							Quản trị công việc và hiệu suất
						</p>
						<a href="#" class="btn bgc__blue--50 text__white--100 tools__bos--btn" title="Xem chi tiết">
							Xem chi tiết
						</a>
					</div>
					<div class="tools__list d__flex">
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__blue--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<a href="#" class="tools__next tools__item d__flex" title="Xem thêm">
							<img src="images/icons/next__2.svg" alt="next__2.svg">
							<span class="tools__text text__blue--300">
								Xem thêm
							</span>
						</a>
					</div>
				</div>
				<div class="tools__group d__flex">
					<div class="tools__bos bgc__blue--700 tools__bos--crm">
						<h3 class="tools__bos--title text__green--200 ">
							BOS - CRM
						</h3>
						<p class="tools__bos--info text__white--100">
							Quản trị công việc và hiệu suất
						</p>
						<a href="#" class="btn bgc__blue--200 text__white--100 tools__bos--btn" title="Xem chi tiết">
							Xem chi tiết
						</a>
					</div>
					<div class="tools__list d__flex">
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__green--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__green--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__green--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__green--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info text__gray-700">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<div class="tools__item d__flex">
							<div class="tools__item--icon bgc__green--200">
								<img class="tools__icon--link" src="images/icons/icon__tools.svg" alt="icon__tools.svg">
							</div>
							<div class="tools__item--desc">
								<h4 class="tools__item--title text__black--900">
									BOS - Tài chính
								</h4>
								<div class="tools__item--info">
									Quản lý tài chính công ty
								</div>
							</div>
						</div>
						<a href="#" class="tools__next tools__item d__flex" title="Xem thêm">
							<img src="images/icons/next__3.svg" alt="next__2.svg">
							<span class="tools__text text__blue--300">
								Xem thêm
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "../components/Feedback.component.twig" %}
	<section class="news">
		<div class="container">
			<div class="news__header d__flex">
				<h2 class="title__global text__blue--200">
					Tin tức
				</h2>
				{% set link = "page__news.html" %}
				{% include "../components/View.component.twig" with link %}
			</div>
			<div class="news__body">
				{% set newsArray = 1..3 %}
				{% include "../components/News.component.twig" with newsArray %}
			</div>
		</div>
	</section>
	{% include "../components/TrustBusiness.compoent.twig" %}
{% endblock %}
{% block scriptPage %}
	<script type="module"></script>
{% endblock %}
