{% extends "../layouts/master-layout.twig" %}
{% block titlePage %}
	Front end
{% endblock %}
{% block stylePage %}
	<link rel="stylesheet" href="./css/pages/index.css"/>
{% endblock %}
{% block content %}
	<div class="text__blue--100">1</div>
	<div>2</div>
{% endblock %}
{% block scriptPage %}
	<script type="text/javascript"></script>

	<script type="module"></script>
{% endblock %}
