{% extends "../layouts/master-layout.twig" %}
{% set page = 'introduce' %}
{% block titlePage %}
	Giới thiệu
{% endblock %}
{% block stylePage %}
	<link rel="stylesheet" href="./css/pages/Introduce.page.css"/>
{% endblock %}
{% block content %}
	<section class="vision">
		<div class="container">
			<h1 class="title__global text__blue--200 text__center">
				Tầm nhìn sứ mệnh
			</h1>
			<div class="vision__desc text__gray--500">
				<div class="vision__desc--text">
					<p>
						BOS đặt mục tiêu đến năm 2030 sẽ giúp được 20.000 doanh nghiệp và trở thành công ty hàng đầu trong lĩnh vực cung cấp giải pháp quản trị đồng bộ lớn nhất Việt Nam.
					</p>
					<p>
						BOS cung cấp giải pháp quản trị đồng bộ giúp nâng tần quản trị doanh nghiệp, qua đó đóng góp vào sự phát triển phồn thịnh của xã hội.
					</p>
					<p>
						Các sản phẩm của công ty:
						<br>
						-	Hệ thống các phần mềm quản trị doanh nghiệp giúp triển khai toàn bộ các hoạt động của doanh nghiệp trên nền tảng số hóa gọi là phần mềm “Hệ điều hành doanh nghiệp BOS” giúp số hóa các hoạt động quản trị một cách đồng bộ theo thời gian thực.
						<br>
						-	Hệ thống đào tạo nhân sự quản trị cấp trung và cấp cao đạt level 4 (Ghi chú)
						<br>
						-	Hệ thống cung cấp nhân sự quản trị cấp trung và cấp cao.
						<br>
						-	Dịch vụ tư vấn tái cấu trúc doanh nghiệp trên nền tảng số hóa.
					</p>
				</div>
				<img src="images/vision.svg" alt="vision.svg">
			</div>

			<div class="core__container">
				<h2 class="title__global text__blue--200 text__center">
					Giá trị cốt lõi
				</h2>
				<div class="core__group">
					<div class="core__box">
						<div class="core__box--image frame">
							<img src="images/core__1.svg" alt="core__1.svg">
						</div>
						<h3 class="core__box--title text__blue--200 text__center">
							Đồng hành
						</h3>
						<div class="core__box--desc text__gray--500">
							<p>
								BOS cam kết không chỉ cung cấp giải pháp quản trị cho khách hàng mà còn cam kết đồng hành cùng với khách hàng trong suốt chặng đường phát triển bằng nhiều hoạt động:
							</p>
							<ul class="core__box--list">
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Tư vấn triển khai ứng dụng hệ điều hành BOS.
									</span>

								</li>
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Hỗ trợ chăm sóc khách hàng 24/7.
									</span>

								</li>
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Đào tạo nhân sự của khách hàng các kiến thức, kỹ năng quản trị ứng dụng phần mềm BOS.

									</span>

								</li>
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Cung cấp nhân sự với vai trò giám đốc vận hành (COO).

									</span>

								</li>
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Dịch vụ tư vấn tái cấu trúc doanh nghiệp trên nền tảng số hóa.

									</span>

								</li>
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Liên tục cải tiến và nâng cấp sản phẩm theo nhu cầu mới của khách hàng.
									</span>

								</li>
							</ul>
						</div>
					</div>
					<div class="core__box">
						<div class="core__box--image frame">
							<img src="images/core__2.svg" alt="core__2.svg">
						</div>
						<h3 class="core__box--title text__blue--200 text__center">
							Đồng bộ
						</h3>
						<div class="core__box--desc text__gray--500">
							<p>
								Tính đồng bộ trong giải pháp quản trị của hệ điều hành doanh nghiệp BOS thể hiện ở sự liên kết tất cả các cấu phần trong công ty:
							</p>
							<ul class="core__box--list">
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Đồng bộ giữa chiến lược cấp công ty với chiến lược kinh doanh và chiến lược chức năng.
									</span>
								</li>
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Đồng bộ giữa các mục tiêu chiến lược với các nguồn lực của công ty.
									</span>
								</li>
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Đồng bộ giữa kế hoạch và báo cáo.
									</span>

								</li>

							</ul>
						</div>
					</div>
					<div class="core__box">
						<div class="core__box--image frame">
							<img src="images/core__3.svg" alt="core__3.svg">
						</div>
						<h3 class="core__box--title text__blue--200 text__center">
							Đồng phát
						</h3>
						<div class="core__box--desc text__gray--500">

							<ul class="core__box--list">
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Với cán bộ công nhân viên: đoàn kết, hợp tác, chia sẻ vì lợi ích chung và sự phát triển của công ty, coi hạnh phúc của nhân viên là thành công của công ty.

									</span>
								</li>
								<li class="core__box--item d__flex">
									<span class="core__icon">
										<img src="images/icons/icon__check.svg" alt="icon__check.svg">
									</span>
									<span class="core__text">
										Với khách hàng: luôn đồng hành cùng khách hàng, coi sự phát triển của khách hàng chính là sự phát triển của công ty, cùng kiến tạo giá trị cho xã hội.
									</span>
								</li>


							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "../components/Feedback.component.twig" %}

{% endblock %}
{% block scriptPage %}
	<script type="module"></script>
{% endblock %}
