{% extends "../layouts/master-layout.twig" %}
{% set page = 'PriceList' %}

{% block titlePage %}
	Bảng giá
{% endblock %}
{% block stylePage %}
	<link rel="stylesheet" href="./css/pages/PriceList.page.css"/>
{% endblock %}
{% block content %}
	<section class="price-list">
		<div class="price-list__banner bgc__gray--100">
			<div class="container">
				<div class="price-list__group d__flex">
					<div class="price-list__banner--content">
						<h2 class="title__global text__blue--200">
							Bảng giá
							<span class="price-list__span text__gray--600">
								các gói dịch vụ BOS
							</span>
						</h2>
						<div class="price-list__desc text__gray--600">
							BOS tính chi phí chính xác đến từng user và tính năng,
							<br>
							khách hàng chỉ phải trả những gì mình sử dụng.
						</div>
						<a href="#" class="btn banner__btn text__blue--900 bgc__green--200" title="Đăng ký">Đăng ký</a>
					</div>
					<div class="price-list__image frame">
						<img src="images/priceList.svg" alt="priceList.svg">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			{% include "../components/PriceList.component.twig" %}
		</div>
	</section>
	{% include "../components/GlobalHeader.component.twig" with {title:"Bạn chưa chọn được gói dịch vụ phù hợp?", info:"BOS sẽ tư vấn giải pháp phù hợp nhất với bạn trong 24h làm việc!", btn:"Tôi cần tư vấn thêm"} %}
	<section class="question">
		<div class="container">
			<h2 class="title__global text__blue--200 text__center">
				Câu hỏi thường gặp
			</h2>
			<div class="question__group d__flex text__black--900">
				<div class="question__image frame">
					<img src="images/question.svg" alt="question.svg">
				</div>
				{% include "../components/Question.component.twig" %}
			</div>
			{% include "../components/Pagination.component.twig" %}
		</div>
	</section>
	{% include "../components/GlobalHeader.component.twig" with {title:"Dùng thử miễn phí 30 ngày", info:"Tổng đài tư vấn miễn phí: 1900 1066", btn:"Đăng ký dùng thử"} %}
{% endblock %}
