{% extends "../layouts/master-layout.twig" %}
{% set page = 'products' %}

{% block titlePage %}
	Sản phẩm - modul cấp 2
{% endblock %}
{% block stylePage %}
	<link rel="stylesheet" href="./css/pages/Product.page.css"/>
{% endblock %}
{% block content %}
	<section class="page-product">
		<div class="page-product__banner banner__module bgc__gray--100">
			<div class="container">
				<div class="page-product__group product__group--detail d__flex">
					<div class="page-product__banner--content">
						<h2 class="title__global text__gray--600">
							BOS - Nhân sự - Giải pháp quản trị và phát triển nhân sự
						</h2>
						<div class="page-product__desc page--product__desc--detail text__gray--600">
							Ứng dụng quản lý toàn diện nhân sự cho doanh nghiệp
						</div>
						<a href="#" class="btn banner__btn text__blue--900 bgc__green--200" title="Đăng ký">Đăng ký</a>
					</div>
					<div class="page-product__image frame">
						<img src="images/product__detail.svg" alt="product__detail.svg">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="product__detail">
		<div class="detail__item">
            <div class="container">
                <div class="detail__group">
                    <div class="detail__image frame">
                        <img src="images/support__1.svg" alt="">
                    </div>
                    <div class="detail__content">
                        <h3 class="text__blue--200">
                            1. Quản lý đơn vị làm việc
                        </h3>
                        <p class="text__gray--700">
                            Giúp bạn thiết lập toàn bộ quá trình tuyển dụng, hội nhập, đào tạo, đánh giá và phát triển nhân sự.
                        </p>
                        <ul class="text__gray--700">
                            {% for item in 1..4 %}
                                <li class="d__flex">
                                    <span class="icon">
                                        <img src="images/icons/icon__check.svg" alt="">
                                    </span>
                                    <span>
                                        Quản lý hồ sơ nhân sự để nhân viên theo dõi toàn bộ thông tin cá nhân, quá trình phát triển của mình tại công ty.
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</section>
	{% include "../components/GlobalHeader.component.twig" with {title:"Dùng thử miễn phí 30 ngày", info:"Tổng đài tư vấn miễn phí: 1900 1066", btn:"Đăng ký dùng thử"} %}
	<section class="p__t--64">
		{% include "../components/TrustBusiness.compoent.twig" %}
	</section>

	{% include "../components/GlobalHeader.component.twig" with {title:"Có thể bạn quan tâm", info:"Các công cụ khác giúp bạn điều hành doanh nghiệp tốt hơn"} %}
	<section class="finance bgc__gray--300">
		<div class="container">
			<h1 class="title__global text__blue--200 text__center">
				BOS - Tài chính
			</h1>
			<p class="global__info text__center text__gray--700">
				Bộ công cụ quản lý tài chính cho doanh nghiệp
			</p>
			<div class="finance__group d__flex">

				{% include "../components/Product.component.twig" with
                { "products":
                    [
                        {"name":"BOS - Tài chính", "img":"finance__1.svg","class":"product--blue"},
                        {"name":"BOS - Tài chính", "img":"finance__2.svg","class":"product--blue"},
                        {"name":"BOS - Tài chính", "img":"finance__3.svg","class":"product--blue"},

                    ]
                } %}
				<div class="d__flex justify__content">
					{% include "../components/View.component.twig" %}
				</div>
			</div>
			<div class="text__center m__t--32">
				<a href="#" class="btn banner__btn text__blue--900 bgc__green--200" title="Đăng ký">Đăng ký</a>
			</div>
		</div>
	</section>
	<section class="finance bg__business">
		<div class="container ">
			<h2 class="title__global text__green--200 text__center">
				BOS - Kinh doanh
			</h2>
			<p class="global__info text__center">
				Bộ công cụ quản lý Kinh doanh cho doanh nghiệp
			</p>
			<div class="finance__group d__flex">

				{% include "../components/Product.component.twig" with
                { "products":
                    [
                        {"name":"BOS - Kinh doanh", "img":"business__1.svg","class":"product--green"},
                        {"name":"BOS - Kinh doanh", "img":"business__2.svg","class":"product--green"},
                        {"name":"BOS - Kinh doanh", "img":"business__3.svg","class":"product--green"},

                    ]
                } %}
				<div class="d__flex justify__content">
					{% include "../components/View.component.twig" %}
				</div>
			</div>
			<div class="text__center m__t--32">
				<a href="#" class="btn banner__btn text__blue--900 bgc__green--200" title="Đăng ký">Đăng ký</a>
			</div>
		</div>
	</section>
{% endblock %}
{% block scriptPage %}{% endblock %}
