{% extends "../layouts/master-layout.twig" %}
{% set page = 'support' %}
{% block titlePage %}
	 Câu hỏi thường gặp
{% endblock %}
{% block stylePage %}
	<link rel="stylesheet" href="./css/pages/support4.page.css"/>
{% endblock %}
{% block content %}
    {% include "../components/BannerGlobal.component.twig" with {title:"Trung tâm hỗ trợ của BOS - 19001234. Hoạt động từ 8:00 - 17:30", bg:"images/banner__support.svg", class:"text__white--100"} %}
    <div class="container">
        <ul class="breadcrumb d__flex">
            <li>
                <a href="#" title="5 bước bắt đầu để sử dụng BOS" class="text__gray--700">
                   Hỗ trợ
                </a>
            </li>
            <li>
                <a href="#" title="Câu hỏi thường gặp" class="text__gray--700">
                    Câu hỏi thường gặp
                </a>
            </li>
        </ul>
        <div class="support support__5 d__flex">
            <div class="support__item">
                <h1 class="support__title text__blue--200">
                    Bắt đầu
                </h1>
                <ul class="support__ul">
                    <li class="active">
                        <a href="#" title="BOS đăng nhập" class="text__black--900">
                          BOS đăng nhập
                        </a>
                    </li>
                     <li>
                        <a href="#" title="BOS Nhân sự" class="text__black--900">
                            BOS Nhân sự
                        </a>
                    </li>
                     <li>
                        <a href="#" title="BOS Tài chính" class="text__black--900">
                        BOS Tài chính
                        </a>
                    </li>
                     <li>
                        <a href="#" title="BOS Kinh doanh" class="text__black--900">
                           BOS Kinh doanh
                        </a>
                    </li>
                     <li>
                        <a href="#" title="BOS Công việc" class="text__black--900">
                          BOS Công việc
                        </a>
                    </li>
                </ul>

            </div>
            <div class="support__content support__cu">
               <section class="question">
                    <div class="container">
                        <div class="question__group d__flex text__black--900">

                           <div class="question__box">
                            <div class="question__container">
                                {% for item in 1..12 %}
                                    <div class="question__item ">
                                        <div class="question__header d__flex {{loop.index == 12 ? 'active' : ''}}">
                                            <span class="question__old">
                                                {{loop.index}}
                                            </span>
                                            <h3 class="question__title">
                                                Khi tôi mua vĩnh viễn thì phần mềm có được bảo hành không? Chi phí bảo trì khi hết bảo hành là bao nhiêu?
                                            </h3>
                                            <span class="question__arrow"></span>
                                        </div>
                                        <div class="question__body" style="{{loop.index == 12 ? 'display:block' : ''}}">
                                            <div class="question__desc">
                                                Trong trường hợp Mua vĩnh viễn, phần mềm sẽ được bảo hành miễn phí trong suốt 12 tháng kể từ ngày bàn giao. Trong thời gian bảo hành quý bạn sẽ được cập nhật các bản vá lỗi, một số tính năng mới miễn phí.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Sau thời gian bảo hành, nếu quý bạn có nhu cầu, chúng tôi có dịch vụ bảo trì phần mềm hằng năm với chi phí là 10%/ hợp đồng ban đầu/ năm.
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>

                    </div>
                </section>
            </div>

        </div>
        <div class="text__center support__pagination">
                {% include "../components/Pagination.component.twig" %}
            </div>

    </div>
    {% include "../components/GlobalHeader.component.twig" with {title:"Trung tâm hỗ trợ BOS - 19001234", info:"Hoạt động từ 8:00 - 17:30", bg:"images/bg_trustBusiness.svg"}  %}
    <div class="support__trustBusiness">
        {% include "../components/TrustBusiness.compoent.twig" %}
    </div>
{% endblock %}

{% block scriptPage %}

{% endblock %}
