{% extends "../layouts/master-layout.twig" %}
{% set page = 'support' %}
{% block titlePage %}
	Hỗ trợ
{% endblock %}
{% block stylePage %}
	<link rel="stylesheet" href="./css/pages/support4.page.css"/>
{% endblock %}
{% block content %}
    {% include "../components/BannerGlobal.component.twig" with {title:"Trung tâm hỗ trợ của BOS - 19001234. Hoạt động từ 8:00 - 17:30", bg:"images/banner__support.svg", class:"text__white--100"} %}
    <div class="container">
        <ul class="breadcrumb d__flex">
            <li>
                <a href="#" title="5 bước bắt đầu để sử dụng BOS" class="text__gray--700">
                   Hỗ trợ
                </a>
            </li>
            <li>
                <a href="#" title="Bắt đầu" class="text__gray--700">
                    Bắt đầu
                </a>
            </li>
            <li>
                <a href="#" title="5 bước bắt đầu để sử dụng BOS" class="text__gray--700">
                     5 bước bắt đầu để sử dụng BOS
                </a>
            </li>
        </ul>
        <div class="support d__flex">
            <div class="support__item">
                <h1 class="support__title text__blue--200">
                    Bắt đầu
                </h1>
                <ul class="support__ul">
                    <li class="active">
                        <a href="#" title="5 bước bắt đầu để sử dụng BOS" class="text__black--900">
                            5 bước bắt đầu để sử dụng BOS
                        </a>
                    </li>
                     <li>
                        <a href="#" title="Tải lên hồ sư nhân sự" class="text__black--900">
                            Tải lên hồ sư nhân sự
                        </a>
                    </li>
                     <li>
                        <a href="#" title="Phân quyền người dùng" class="text__black--900">
                            Phân quyền người dùng
                        </a>
                    </li>
                     <li>
                        <a href="#" title="Cài đặt đối tượng, phân hệ" class="text__black--900">
                            Cài đặt đối tượng, phân hệ
                        </a>
                    </li>
                     <li>
                        <a href="#" title="Thanh toán, đối soát" class="text__black--900">
                           Thanh toán, đối soát
                        </a>
                    </li>
                </ul>

            </div>
            <div class="support__content bgc__gray--100">
                <h2 class="text__blue--200">
                    5 bước bắt đầu để sử dụng BOS
                </h2>
                <h3>
                    Giới thiệu BOS
                </h3>
                <p>
                    BOS cung cấp cho người dùng môi trường làm việc trực tuyến trên Internet bằng việc số hóa toàn bộ doanh nghiệp thành các khối thống nhất từ Nhân sự, Khách hàng, Công việc, Kinh doanh đến Truyền thông nội bộ.
                    <br>
                     Để thực hiện được công tác quản lý tất cả các khối trên, đòi hỏi mọi nhân sự trong doanh nghiệp đều phải được cung cấp tài khoản để truy cập và sử dụng các tính năng của BOS.
                </p>
                <h3>
                    5 bước bắt đầu để sử dụng BOS
                </h3>
                <p>
                    Với sự thấu hiểu những khó khăn trong việc quản trị doanh nghiệp, các Founder của BOS bằng những kinh nghiệm thực chiến của mình kết hợp với các phương thức quản trị tiên tiến nhất cho ra đời bộ giải pháp quản trị doanh nghiệp gồm có:

                </p>
                <ul>
                    <li>
                        Hệ thống các phần mềm quản trị doanh nghiệp giúp triển khai toàn bộ các hoạt động của doanh nghiệp trên nền tảng số hóa gọi là phần mềm “Hệ điều hành doanh nghiệp BOS” giúp số hóa các hoạt động quản trị một cách đồng bộ theo thời gian thực.

                    </li>
                    <li>
                        Hệ thống đào tạo nhân sự quản trị cấp trung và cấp cao
                    </li>
                </ul>
                <h3>
                    Bước 1: Cài đặt sơ đồ tổ chức
                </h3>
                <p>
                    BOS cung cấp cho người dùng môi trường làm việc trực tuyến trên Internet bằng việc số hóa toàn bộ doanh nghiệp thành các khối thống nhất từ Nhân sự, Khách hàng, Công việc, Kinh doanh đến Truyền thông nội bộ.

                    <br>
                    Để thực hiện được công tác quản lý tất cả các khối trên, đòi hỏi mọi nhân sự trong doanh nghiệp đều phải được cung cấp tài khoản để truy cập và sử dụng các tính năng của BOS.
                </p>
                <img src="images/support__1.svg" alt="support__1.svg">
                <h3>
                    Bước 2: Cài đặt sơ đồ tổ chức
                </h3>
                <p>
                    BOS cung cấp cho người dùng môi trường làm việc trực tuyến trên Internet bằng việc số hóa toàn bộ doanh nghiệp thành các khối thống nhất từ Nhân sự, Khách hàng, Công việc, Kinh doanh đến Truyền thông nội bộ.

                </p>
                <p>
                    Để thực hiện được công tác quản lý tất cả các khối trên, đòi hỏi mọi nhân sự trong doanh nghiệp đều phải được cung cấp tài khoản để truy cập và sử dụng các tính năng của BOS.
                </p>
                 <img src="images/support__1.svg" alt="support__1.svg">
                <h3>
                    Bước 3: Cài đặt sơ đồ tổ chức
                </h3>
                <p>
                     BOS cung cấp cho người dùng môi trường làm việc trực tuyến trên Internet bằng việc số hóa toàn bộ doanh nghiệp thành các khối thống nhất từ Nhân sự, Khách hàng, Công việc, Kinh doanh đến Truyền thông nội bộ.
                    <br>
                    Để thực hiện được công tác quản lý tất cả các khối trên, đòi hỏi mọi nhân sự trong doanh nghiệp đều phải được cung cấp tài khoản để truy cập và sử dụng các tính năng của BOS.
                </p>
                <img src="images/support__1.svg" alt="support__1.svg">
                <h3>
                    Bước 4: Cài đặt sơ đồ tổ chức
                </h3>
                <p>
                    BOS cung cấp cho người dùng môi trường làm việc trực tuyến trên Internet bằng việc số hóa toàn bộ doanh nghiệp thành các khối thống nhất từ Nhân sự, Khách hàng, Công việc, Kinh doanh đến Truyền thông nội bộ.
                <br>
                Để thực hiện được công tác quản lý tất cả các khối trên, đòi hỏi mọi nhân sự trong doanh nghiệp đều phải được cung cấp tài khoản để truy cập và sử dụng các tính năng của BOS.
                </p>
                <img src="images/support__1.svg" alt="support__1.svg">
            </div>
        </div>
    </div>
    {% include "../components/GlobalHeader.component.twig" with {title:"Trung tâm hỗ trợ BOS - 19001234", info:"Hoạt động từ 8:00 - 17:30", bg:"images/bg_trustBusiness.svg"}  %}
    <div class="support__trustBusiness">
        {% include "../components/TrustBusiness.compoent.twig" %}
    </div>
{% endblock %}

{% block scriptPage %}

{% endblock %}
