<section class="addon__banner">
    {% for item in 1..3 %}
    <div class="banner__item">
        <div class="frame">
            <img src="images/slider.jpg" alt="slider.jpg">
        </div>
    </div>
    {% endfor %}
</section>
