<div class="addon__search">
    <button type="button" class="btn btn__toggle-search">
        Tìm kiếm
    </button>
    <div class="main__search">
        <div class="container">
            <form class="form__search">
                <input type="text" placeholder="Tìm kiếm..." class="input__search">
                <button type="submit" class="btn btn__search">
                    <img src="images/icons/icon__search.png" alt="icon__search.png">
                </button>
            </form>
        </div>

    </div>
</div>
