<header id="header" class="header">
	<div class="container">
		<div class="header__top">
			{% include "../addons/addon-logo.twig" %}
			{% include "../addons/addon-menu.twig" %}
			<button class="btn btn__registration text__blue--900 bgc__green--200">
				Đăng ký
			</button>
		</div>
	</div>
</header>
